<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="DataReader.Settings1" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <applicationSettings>
        <DataReader.Settings1>
            <setting name="SqlConStr" serializeAs="String">
                <value>Data Source=PC;Initial Catalog=Railway;Persist Security Info=True;User ID=DataAccess;Password=15963</value>
            </setting>
            <setting name="StationName" serializeAs="String">
                <value>ZD111-01 ZD111-02 ZD311 ZD326 ZD192 ZD022 ZD250 ZD062 ZD120 ZD121 ZD143 ZD370 ZD190-02 ZD190-01</value>
            </setting>
            <setting name="TempPath" serializeAs="String">
                <value>D:\Desktop\泰迪杯\</value>
            </setting>
        </DataReader.Settings1>
    </applicationSettings>
</configuration>